.button {
    padding: 8px;
    border: none;
    background-color: inherit;
    outline: none;
    text-decoration: underline;
    color: var(--main-color);
    transition: color var(--transform-timing);
}

.button:hover {
    color: var(--hover-color);
}