.filter {
    display: flex;
    gap: 18px;
    align-items: flex-end;
}

.brandInput {
    width: 224px;
    max-height: 272px;
}

.priceInput {
    width: 126px;
    max-height: 188px;
}

.buttonSetFilter {
    width: 136px;
    height: 48px;
}