:root {
    --main-color: #3470FF;
    --bright-accent-color: #fff;

    --hover-color: #0B44CD;
    --background-color: rgb(255, 255, 255);

    --button-hover-boxshadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    --transform-timing: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}